$fl-inner-max-width: 1200px !default;
$sidenav-content-padding: 20px 30px;

@import 'd3-view-components/index';


.fl-inner {
    max-width: $fl-inner-max-width;
}

.fluid-content {
    visibility: hidden;
}

#root {
    opacity: 0;
}


.docs {
    .markdown {
        h2 {
            border-bottom: 1px solid #eaecef;
            padding-bottom: 0.3em;
        }
    }
}
